{% autoescape off %}
Cher {{ user.get_full_name }},

Vous avez oublié votre mot de passe?
Une demande pour réinitialiser le mot de passe de votre compte a été reçue.

Si vous voulez réinitialiser votre mot de passe, cliquez sur le lien ci-dessous (ou copiez et collez l'URL dans votre navigateur) :
http://{{ domain }}{% url 'aptusadmin:reset_password' uidb64=uid token=token tcdb64=token_creation_date %}

Ce lien vous amène à une page sécurisée où vous pouvez changer votre mot de passe.

Si vous ne voulez pas réinitialiser votre mot de passe, veuillez ignorer ce message. Votre mot de passe ne sera pas réinitialisé.


Merci de ne pas répondre à ce message ; il a été envoyé à partir d'une boîte automatisée. Ce message est un e-mail de service lié à votre utilisation de la platforme AptusEducat.


Cordialement,

{% endautoescape %}
