{% load static aptusadmin_filter humanize %}

<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>APTUS Solutions de gestion</title>
	 
        <link href="{% static 'aptusadmin/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'aptusadmin/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'aptusadmin/css/aptus.css' %}" rel="stylesheet">
	</head>
    <body class="top-navigation">

        <div id="wrapper">
            <div id="page-wrapper" class="gray-bg" style="min-height: 100vh;">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-fixed-top" role="navigation" style="border-bottom:none !important">

                    {% if request.session.primary_user %}
                        <div class="bg-danger text-primary p-xs">
                            <h4>Vous êtes connectés en tant que {{ user.get_full_name }} ({{ user.get_username }}), <a href="{% url 'aptusadmin:back_to_original_profile' %}" class="text-danger">clickez-ici</a> pour revenir à votre profil.</h4>
                        </div>
                    {% endif %}

                    <div style="background-color:#3b3e3f;padding:10px;font-weight:700">
                        <img src="{% static 'aptusadmin/img/logo-aptus.png' %}" style="zoom: 20%;" alt="Aptus">
                        <ul class="navbar-top-links navbar-right" style="font-weight:600;font-size:14px;margin-top: 3px;">
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                                    <i class="fa fa-envelope" style="color:white;padding:0px"></i><span class="{%if user_messages.0 > 0 %} label label-warning {%endif%}" id="nbr_messages">{%if user_messages.0 > 0 %} {{user_messages.0}} {%endif%}</span>
                                </a>
                                
                                <ul class="dropdown-menu dropdown-messages" id="messages" style="margin-top:12px">
                                    {%for elt in user_messages.1%}
                                        <li onclick="location.href= '/aptusadmin/message/{{elt.id}}/?from=aptusadmin'"  role='button'>
                                            <div class="dropdown-messages-box">
                                                
                                                <div class="media-body">
                                                    <strong>{{elt.subject}}</strong><br>
                                                    <small class="text-muted">{{elt.date_reception}}</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="divider"></li>    
                                    {%endfor%}
                                    
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="/myapps/message/">
                                                <i class="fa fa-envelope"></i> <strong>Lire tous les messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" >
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;padding:0px"><i class="fa fa-user"></i> {% if user.is_authenticated %} {% if user.last_name %} {{user.last_name }} {{user.first_name }} {% else %} {{user }} {%endif%} {%endif%}<span class="caret"></span></a>
                                <ul class="dropdown-menu" style="margin-top:12px">
                                    <li><a href="{%url 'aptusadmin:deconnexion'%}?next=/{{current_appli}}"><i class="fa fa-sign-out fa-fw"></i> Quitter</a></li>
                                </ul>
                            </li>                    
                        </ul>    
                    </div>
                    <div class="col-sm-12 wrapper border-bottom white-bg page-heading" >
                        <div class="row">
                            <div class="col-sm-12">
                            <h2 class="title" style="margin-bottom:14px;margin-top:16px">Changement du mot de passe</h2>
                            </div>
                        </div>    
                    </div>
                </nav>
            </div>
            <div class="wrapper wrapper-content">
                <div class="ibox-content">
                    {% if messages %}
                        {% for message in messages %}                   
                            <div class="row">
                                <div class="col-sm-12">			
                                    <div class="alert {{ message.tags }} alert-dismissable" >
                                    {{message|safe}}<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    </div> 
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    <div class="row">
                        <form method="post" name="origine" class="form-horizontal" id="myform">
                            {% csrf_token %}
                            <div class="col-sm-12">
                                <div>
                                    <p style="color: #333; padding: 10px 0 15px;">
                                        Pour des raisons de sécurité, saisissez votre ancien mot de passe puis votre nouveau mot de passe à deux reprises afin de vérifier qu'il est correctement saisi.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Ancien mot de passe</label>
                                    <div class="col-sm-6 bar-left">{{form.old_password }}
                                        {%if  form.old_password.errors|striptags  %} 
                                            <label style="color:red"  class="error"  >{{form.old_password.errors|striptags  }} </label>
                                        {%endif%}
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nouveau mot de passe</label>
                                    <div class="col-sm-6 bar-left">{{form.new_password }}
                                        {%if  form.new_password.errors|striptags  %} 
                                            <label style="color:red"  class="error"  >{{  form.new_password.errors|striptags  }} </label>
                                        {%endif%}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Confirmation du nouveau mot de passe</label>
                                    <div class="col-sm-6 bar-left">{{form.confirmation_password }}
                                        {%if  form.confirmation_password.errors|striptags  %} 
                                            <label style="color:red"  class="error"  >{{  form.confirmation_password.errors|striptags  }} </label>
                                        {%endif%}
                                    </div>
                                </div> 
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="btn-gr-ap">     
                                <button  type="submit" class="btn btn-info" name="action" value="Enregistrer" id="eng"  ><i class="fa fa-save"></i> Enregistrer</button>
                                <a href="/"  class="btn btn-default"    ><i class="fa fa-times-circle"></i>  Annuler</a>
                            </div>
                        </div>
                    </div>

                </div>
           </div>
            <div class="footer gray-bg " style="border-top:0px">
                <div class="pull-right">
                    <strong>Copyright</strong> Aptus consulting 
                </div>
            </div>
        </div>  
    </div>        
    <script src="{% static 'aptusadmin/js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'aptusadmin/js/bootstrap.min.js' %}"></script>

{% comment %} <script>
     function FetchData() {
        var url =  "/aptusadmin/get_nbr_message/";
        $.getJSON(url, function(models) {
            if (models.nbr > 0) {
                $("#nbr_messages").addClass('label label-warning');
                $("#nbr_messages").html(models.nbr) 
            }
        });
    }

    function FetchData2() {
        var url =  "/aptusadmin/get_message/";
        $.getJSON(url, function(models) {
            jsonObj =JSON.parse(models);
            var li='';
            for (var i = 0; i < jsonObj.length; i++) {
                var lien ='/aptusadmin/message/'+jsonObj[i].pk+'/?from=aptusadmin';
                li+='<li onclick='+'"location.href='+"'"+lien+"'"+'"' + "role='button'>"+
                    "<div class='dropdown-messages-box'>"+
                    "<div class='media-body'>"+
                    "<strong>"+jsonObj[i].fields["subject"]+"</strong><br>"+
                    "<small class='text-muted'>"+jsonObj[i].fields["date_reception"]+"</small>"+
                    '</div>'+
                    '</div>'+
                    '</li>'+
                    '<li class="divider"></li>';
            }
        li+='<li><div class="text-center link-block">'+'<a href="/aptusadmin/message/?from=aptusadmin"><i class="fa fa-envelope"></i> <strong>Lire tous les messages</strong></a></di</li>';
            $("#messages").html(li);
        });
    }

    setInterval(FetchData, 120000);
    setInterval(FetchData2, 120000);	
</script> {% endcomment %}

<script>
    $("#eng").click(function() {
        $('#myform').append('<input type="hidden" name="action" value="Enregistrer">');
        $('#myform').submit();  
    })
</script>

</body>
</html>
